*DS_Store
*.pyc
IAGOVOIX/samples/Processed/Crop/sweep_intro.aif
IAGOVOIX/samples/Processed/Crop/sweep_intro.aif.asd
IAGOVOIX/samples/Processed/Freeze/Freeze 2-Audio.wav
IAGOVOIX/samples/Processed/Freeze/Freeze 2-Audio.wav.asd
IAGOVOIX/samples/Processed/Freeze/Freeze VOIX IN.wav
IAGOVOIX/samples/Processed/Freeze/Freeze VOIX IN.wav.asd
IAGOVOIX/samples/Processed/Reverse/sweep_intro R.aif
IAGOVOIX/samples/Processed/Reverse/sweep_intro R.aif.asd
IAGOVOIX/samples/Recorded/0001 2-Audio-1.aif
IAGOVOIX/samples/Recorded/0001 2-Audio-1.aif.asd
IAGOVOIX/samples/Recorded/0001 2-Audio-2.aif
IAGOVOIX/samples/Recorded/0001 2-Audio-2.aif.asd
IAGOVOIX/samples/Recorded/0001 2-Audio.aif
IAGOVOIX/samples/Recorded/0001 VOIX IN-1.aif
IAGOVOIX/samples/Recorded/0001 VOIX IN-1.aif.asd
IAGOVOIX/samples/Recorded/0001 VOIX IN.aif
IAGOVOIX/samples/Recorded/0001 VOIX IN.aif.asd
IAGOVOIX/samples/Recorded/0002 2-Audio-1.aif
IAGOVOIX/samples/Recorded/0002 2-Audio-1.aif.asd
IAGOVOIX/samples/Recorded/0002 2-Audio-2.aif
IAGOVOIX/samples/Recorded/0002 2-Audio-2.aif.asd
IAGOVOIX/samples/Recorded/0002 2-Audio.aif
IAGOVOIX/samples/Recorded/0002 2-Audio.aif.asd
IAGOVOIX/samples/Recorded/0002 VOIX IN-1.aif
IAGOVOIX/samples/Recorded/0002 VOIX IN-1.aif.asd
IAGOVOIX/samples/Recorded/0002 VOIX IN.aif
IAGOVOIX/samples/Recorded/0002 VOIX IN.aif.asd
IAGOVOIX/samples/Recorded/0003 2-Audio-1.aif
IAGOVOIX/samples/Recorded/0003 2-Audio-1.aif.asd
IAGOVOIX/samples/Recorded/0003 2-Audio.aif
IAGOVOIX/samples/Recorded/0003 2-Audio.aif.asd
IAGOVOIX/samples/Recorded/0003 VOIX IN.aif
IAGOVOIX/samples/Recorded/0003 VOIX IN.aif.asd
IAGOVOIX/samples/Recorded/0004 2-Audio.aif
IAGOVOIX/samples/Recorded/0004 2-Audio.aif.asd
IAGOVOIX/samples/Recorded/0004 VOIX IN.aif
IAGOVOIX/samples/Recorded/0004 VOIX IN.aif.asd
IAGOVOIX/samples/Recorded/0005 VOIX IN.aif
IAGOVOIX/samples/Recorded/0005 VOIX IN.aif.asd
IAGOVOIX/samples/Recorded/0006 VOIX IN.aif
IAGOVOIX/samples/Recorded/0006 VOIX IN.aif.asd
IAGOVOIX/samples/Recorded/0007 VOIX IN.aif
IAGOVOIX/.DS_Store
IAGOVOIX/Ableton Project Info/Project8_1.cfg
IAGOVOIX/iagoVoix.als
IAGOVOIX/Icon
IAGOVOIX/Presets/Audio Effects/Max Audio Effect/.DS_Store
IAGOVOIX/Presets/Audio Effects/Max Audio Effect/art_des_bruits/.DS_Store
IAGOVOIX/Presets/Audio Effects/Max Audio Effect/art_des_bruits/clics&cuts/adb.stutter.v2.amxd
IAGOVOIX/Presets/Audio Effects/Max Audio Effect/art_des_bruits/pitch follower/adb.retune-2.amxd
IAGOVOIX/Presets/Audio Effects/Max Audio Effect/Imported/Convolution Reverb.amxd
IAGOVOIX/Presets/Audio Effects/Max Audio Effect/prosodieIAGO.amxd
IAGOVOIX/samples/Imported/0001 VOIXOUT.aif
IAGOVOIX/samples/Imported/0001 VOIXOUT.aif.asd
IAGOVOIX/samples/Imported/0003 VideoRET.aif
IAGOVOIX/samples/Imported/0003 VideoRET.aif.asd
IAGOVOIX/samples/Imported/0010 OP1.aif
IAGOVOIX/samples/Imported/0010 OP1.aif.asd
IAGOVOIX/samples/Imported/19 OP1-1.aif
IAGOVOIX/samples/Imported/19 OP1-1.aif.asd
IAGOVOIX/samples/Imported/Arundel Nave.wav
IAGOVOIX/samples/Imported/Arundel Nave.wav.asd
IAGOVOIX/samples/Imported/bacterie.wav
IAGOVOIX/samples/Imported/bacterie.wav.asd
IAGOVOIX/samples/Imported/Hic Machina 9 - IAGOTCHI - hic voice.aif
IAGOVOIX/samples/Imported/Hic Machina 9 - IAGOTCHI - hic voice.aif.asd
IAGOVOIX/samples/Imported/Hic Machina 9 - IAGOTCHI - hic zik.aif
IAGOVOIX/samples/Imported/Hic Machina 9 - IAGOTCHI - hic zik.aif.asd
IAGOVOIX/samples/Imported/Hic Machina 9 - IAGOTCHI - rest voice.aif
IAGOVOIX/samples/Imported/Hic Machina 9 - IAGOTCHI - rest voice.aif.asd
IAGOVOIX/samples/Imported/Hic Machina 9 - IAGOTCHI - rest zik.aif
IAGOVOIX/samples/Imported/Hic Machina 9 - IAGOTCHI - rest zik.aif.asd
IAGOVOIX/samples/Imported/Rec-15.09.30-18h07m28s.aif
IAGOVOIX/samples/Imported/Rec-15.09.30-18h07m28s.aif.asd
IAGOVOIX/samples/Imported/sweep_intro.aif
IAGOVOIX/samples/Imported/sweep_intro.aif.asd
IAGOVOIX/samples/Imported/wd_250gb_stuck_spindle_chuttering.aif
IAGOVOIX/samples/Imported/wd_250gb_stuck_spindle_chuttering.aif.asd
IAGOVOIX/samples/Processed/.DS_Store
IAGOVOIX/samples/Processed/Consolidate/1 2-Audio-2.aif
IAGOVOIX/samples/Processed/Consolidate/1 2-Audio-2.aif.asd
IAGOVOIX/samples/Processed/Consolidate/6 VOIX IN.aif
IAGOVOIX/samples/Processed/Consolidate/6 VOIX IN.aif.asd
IAGOVOIX/samples/Processed/Consolidate/7 VOIX IN.aif
IAGOVOIX/samples/Processed/Consolidate/7 VOIX IN.aif.asd
IAGOVOIX/samples/Processed/Crop/2 VOIX IN-1.aif
IAGOVOIX/samples/Processed/Crop/2 VOIX IN-1.aif.asd
IAGOVOIX/samples/Processed/Crop/4 VOIX IN (Gelé)-1.wav
IAGOVOIX/samples/Processed/Crop/4 VOIX IN (Gelé)-1.wav.asd
IAGOVOIX/samples/Processed/Crop/4 VOIX IN (Gelé).wav
IAGOVOIX/samples/Processed/Crop/4 VOIX IN (Gelé).wav.asd
IAGOVOIX/samples/Processed/Crop/iago_voix_ex.aif
IAGOVOIX/samples/Processed/Crop/iago_voix_ex.aif.asd
IAGOVOIX/samples/Processed/Crop/iago_voix_ex.wav
IAGOVOIX/samples/Processed/Crop/iago_voix_ex.wav.asd
IAGOVOIX/samples/Processed/Crop/Rec-15.09.30-18h07m28s.aif
IAGOVOIX/samples/Processed/Crop/Rec-15.09.30-18h07m28s.aif.asd
IAGOVOIX/samples/Recorded/0007 VOIX IN.aif.asd
IAGOVOIX.zip
.DS_Store
